
@{
    ViewData["Title"] = "IndexTipoUsuario";
}

<h1>IndexTipoUsuario</h1>


<div class="input-group">
    <input id="txtNombreBusqueda" type="text" class="form-control" placeholder="Recipient's username" aria-label="...">
    <button class="btn btn-outline-secondary" type="button" onclick="buscar()">Button</button>
    <button id="limpiar" class="btn btn-outline-info" type="button" onclick="limpiarControl()">Limpiar</button>
</div>

<div id="div-table">
</div>


<script src="~/js/Generic.js"></script>
<script src="~/js/TipoUsuario.js"></script>
