
@{
    ViewData["Title"] = "Inicio";
}

<h1>Tipo Medicamento</h1>


<div class="input-group">
    <input id="txtNombreBusqueda" type="text" class="form-control" placeholder="Tipo Medicamento" onkeyup="filtrarTipoMedicamento()" aria-label="...">
    @* @<button class="btn btn-outline-secondary" type="button" onclick="buscarTipoMedicamento()">Button</button>
    <button id="limpiar" class="btn btn-outline-info" type="button" onclick="limpiarControl()">Limpiar</button>
    *@
</div>

<fieldset class="mb-4 mt-4">
    <legend>Guardar Tipo Medicamento</legend>
    <form class="row g-3" id="frmGuardarTipoMedicamento" method="post">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre">
        </div>

        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" maxlength="300" id="descripcionTipoMedicamento">
        </div>
      
    </form>
    <br />
    <div class="row g-3">
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" onclick="guardarTipoMedicamento()">Guardar</button>
            <button type="submit" class="btn btn-primary" onclick="limpiarTipoMedicamento()">Limpiar</button>
        </div>
    </div>

</fieldset>

<div id="div-table">


</div>

<script src="~/js/Generic.js"></script>
<script src="~/js/TipoMedicamento.js"></script>