
@{
    ViewData["Title"] = "Inicio";
}

<h1>Tipo Medicamento</h1>


<div class="input-group">
    <input id="txtNombreBusqueda" type="text" class="form-control" placeholder="Tipo Medicamento" onkeyup="filtrarTipoMedicamento()" aria-label="...">
    @* @<button class="btn btn-outline-secondary" type="button" onclick="buscarTipoMedicamento()">Button</button>
    <button id="limpiar" class="btn btn-outline-info" type="button" onclick="limpiarControl()">Limpiar</button>
    *@
</div>

@* <fieldset class="mb-4 mt-4">
    <legend>Guardar Tipo Medicamento</legend>
    <form class="row g-3" id="frmGuardarTipoMedicamento" method="post">
        <div class="col-md-2">
            <label for="idMedicamento" class="form-label">Id Tipo Medicamento</label>
            <input type="text" class="form-control" id="id" name="id" placeholder="Id" >
        </div>
        <div class="col-md-4">
            <label for="inputEmail4" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre">
        </div>

        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" maxlength="300" id="descripcionTipoMedicamento">
        </div>
      
      

    </form>
    <br />
    <div class="row g-3">
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" onclick="guardarTipoMedicamento()">Guardar</button>
            <button type="submit" class="btn btn-primary" onclick="limpiarTipoMedicamento()">Limpiar</button>
        </div>
    </div>

</fieldset> *@


<div id="save-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-label" class="modal-title">Editar empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="modal-form" method="post" class="row">
                    <div id="modal-id-group" class="col-2 mb-2">
                        <label class="col-form-label mb-0">Id:</label>
                        <input id="modal-id-input" class="form-control" name="Id" type="text" placeholder="?" contenteditable="false" required readonly>
                    </div>
                    <div class="col-10 mb-2">
                        <label class="col-form-label mb-0">Nombre:</label>
                        <input id="modal-nombre-input" class="form-control" name="nombre" type="text" required>
                    </div>
                    <div class="col-6 mb-2">
                        <label class="col-form-label mb-0">Descripcion:</label>
                        <input id="modal-descripcion-input" class="form-control" name="Descripcion" type="text" required>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary w-100" onclick="guardarTipoMedicamento()">Guardar</button>
            </div>
        </div>
    </div>
</div>




<div id="div-table">


</div>

<script src="~/js/Generic.js"></script>
<script src="~/js/TipoMedicamento.js"></script>