
@{
    ViewData["Title"] = "Index";
}

<h1>BusquedaLaboratorio</h1>


<fieldset>
    <form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Nombre</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Dirección</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Persona Contacto</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Contacto...">
  </div>
    </form>
</fieldset>

<div id="div-table">
</div>


<script src="~/js/Generic.js"></script>
<script src="~/js/Laboratorio.js"></script>
