
@{
    ViewData["Title"] = "Index";
}


<fieldset class="mb-4 mt-4">
    <legend>Busqueda Laboratorio</legend>
    <form class="row g-3" id="frmBusqueda" method="post">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="nombre">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Dirección</label>
        <input type="text" class="form-control" name="direccion" id="direccion">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Persona Contacto</label>
            <input type="text" class="form-control" name="personacontacto" id="personaContacto" placeholder="Contacto...">
      </div>
    </form>
    <br />
    <div class="row g-3">
        <div class="d-grid gap-2">      
                <button type="submit" class="btn btn-primary" onclick="buscarLaboratorio()">Buscar</button>
                <button type="submit" class="btn btn-primary" onclick="limpiarLaboratorio()">Limpiar</button>
        </div>
    </div>
</fieldset>


@* formulario Modal *@
<div id="save-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-label" class="modal-title">Editar Laboratorio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="modal-form" method="post" class="row">
                    <div id="modal-id-group" class="col-2 mb-2">
                        <label class="col-form-label mb-0">Id:</label>
                        <input id="modal-id-input" class="form-control" name="Id" type="text" placeholder="?" contenteditable="false" required readonly>
                    </div>
                    <div class="col-10 mb-2">
                        <label class="col-form-label mb-0">Nombre:</label>
                        <input id="modal-nombre-input" class="form-control" name="nombre" type="text" required>
                    </div>
                    <div class="col-6 mb-2">
                        <label class="col-form-label mb-0">Dirección:</label>
                        <input id="modal-direccion-input" class="form-control" name="direccion" type="text" required>
                    </div>
                    <div class="col-6 mb-2">
                        <label class="col-form-label mb-0">Persona Contacto:</label>
                        <input id="modal-personacontacto-input" class="form-control" name="personacontacto" type="text" required>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary w-100" onclick="guardarLaboratorio()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div id="div-table"></div>


<script src="~/js/Generic.js"></script>
<script src="~/js/Laboratorio.js"></script>
