
@{
    ViewData["Title"] = "IndexUsuario";
}

<h1>IndexUsuario</h1>

<div class="input-group">
    <input id="txtNombreBusqueda" type="text" class="form-control" placeholder="...." aria-label="...">
    <button class="btn btn-outline-secondary" type="button" onclick="buscarUsuario()">Button</button>
    <button id="limpiar" class="btn btn-outline-info" type="button" onclick="limpiarControl()">Limpiar</button>
</div>

<div id="div-table">
</div>

<script src="~/js/Generic.js"></script>
<script src="~/js/Usuario.js"></script>