
@{
    ViewData["Title"] = "Index";
}

<h1>Index Medicamentos</h1>


<script src="c:\users\gamur\source\repos\netcoremvc1\netcoremvc1\wwwroot\js\generic.js"></script>
<script src="c:\users\gamur\source\repos\netcoremvc1\netcoremvc1\wwwroot\js\medicamento.js"></script>